body{ background-color:yellow;
}
#container	{
	max-width: 70%;
	margin:auto;
    }
	header {
	background-color:powderblue;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 10px ;
	box-shadow: 5px;
	padding:10px;
	}
	
	nav {background-color:powderblue;
	margin-top: 30px;
	margin-bottom: 30px;
	border-radius: 10px ;
	box-shadow: 5px;
	padding:20px;
	font-size:1em;
	text-align:center;
	}
	
    main {
        display: block;
        font-family: Verdana, Arial, sans-serif;	
        font-size: 1em;
        margin-top: 0.5em;
        padding: 1em;
        border-radius: 2em 0 2em 0;
        background-color: #FFFFFF;
        opacity: 0.85;
    }
    
    main a {
        background-color: #9D9D93;
        border-radius: 1em;
        color: #FFFFFF;
        font-weight: bold;
        padding: 0.5em;
        text-decoration: none;
    }
	
	footer {
	background-color:powderblue;
	margin-top: 20px;
    border-radius: 5px ;
	padding:5px;
	box-shadow: 5px;
	font-size: 0.70em;
	text-align:center;
	}
    table {
		border: 0.1em solid #000000;
		border-collapse: collapse;
		text-align: center;
		float: center;
		margin-left: auto;
		margin-right: auto;
		
	
	}
	
	th, td {
		border: 0.1em solid #000000;
		padding: 1em;
	}
	
	th {
		background-color:#1D1D1C;
		color: #FFFFFF;
	}
	
	

	caption {
		font-size: 1.5em;
		font-weight: bold;
		padding-bottom: 0.5em;
	}
	
	label {
		float: left;
		padding-right: 0.5em;
		text-align: right;
		width: 10em;
	}
	.btn {
		margin-left: 12em;
	}
	h2{
		text-align: center;
	}
	
